.nav {
    display: flex;
    gap: 1em;
}

.link {
    color: var(--btn-background-dark-color);
}

.link:hover {
    text-decoration: underline;
    color: var(--btn-background-dark-color);
}

.active,
.active:hover {
    color: var(--btn-scroll-dark);
}
